<footer id="sticky-footer" class="py-4 bg-dark text-white">
    <div class="container text-center">
        <small>Copyright &copy; <a href="https://github.com/Arpit-Bakliwal/Alpha_Blog">The Alpha Blog Project</a>
        by <em><a href="https://github.com/Arpit-Bakliwal">Arpit Bakliwal</a></em>
        </small>
    </div>
</footer>
